<div class="a">
    <h1>Greetings Web App</h1>

</div>

{{#if messages.info}}
<div class="row">
    <div class="col-12">
        <div class="error"> {{messages.info}} </div>
    </div>
</div>
{{/if}}


{{#if messages.success}}
<div class="row">
    <div class="col-12">
        <div class="success"> {{messages.success}} </div>
    </div>
</div>
{{/if}}


<div class="row">
    <div class="col-12">
        <div class="name">
            <form method="POST" action="/">
                Name:
                <input type="text" class="inputName" maxlength="25" name="firstname" placeholder="enter a name" value=""
                onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)">  {{caltulate}}
                <div>
                        
                            <input type="radio" value="Xhosa" name="myLanguage" class="radio-inline">Xhosa
                      

                        
                            <input type="radio" value="English" name="myLanguage" class="radio-inline">English
                       

                            <input type="radio" value="Afrikaans" name="myLanguage" class="radio-inline">Afrikaans
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="msg"></p>
                        {{!-- Greeted names: <p class="counter">{{caltulate}}</p> --}}
                    
                    </div>
                </div>

               
    <button class="button2" type="submit">Greet</button> 
    </form>
    
</div>
</div>
</div>
<form method="POST" action="/clear">
    <div class="row">
        <div class="col-12">
            <div class="clear">
            </div>
           <button class="button2" type="submit">Clear</button>
        </div>
    </div>
</form>




<div class="row">
    <div class="col-12">
        <div class="greeting-text">
            <h4>{{name}}</h4>

            </div>
    </div>
</div>

<form method="POST" action="/actions">
    <div class="row">
        <div class="col-12">
            <a href="/actions">Greeted</a>
        </div>
    </div>
</form>


